@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  padding: 30px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.header-last {
  padding-bottom: 30px;
  font-size: 1rem;
}

.header-main {
  font-weight: 600
}

.header-text, .a-source {
  color: #fff;
}

.a-source:hover {
  color: #0092ca;
}

.toast {
  padding: 10px;
  animation: toast-in-right .7s;
}

.toast-body {
  color: #fff;
}

.toast-container {
  padding: 30px;
}

.App, html {
  background-color: #222831;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.input-container, .output-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-form, .output-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 780px)
{
  .main {
    flex-direction: row;
  }

  .input-container, .output-container {
    width: 49.5%;
    flex: none;
  }

  .main-field {
    position: relative;
  }

  .input-main, .output-main {
    flex: none;
  }
}

.input, .button {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-weight: 500;
}

.input {
  background-color: #eeeeee;
}

.button, .btn-variable {
  background-color: #0092ca;
  color: #fff;
}

.button[disabled], .btn-variable[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.input-main, .output-main, .main-field, .full-width {
  width: 100%;
}

.input-main, .output-main {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  flex: 1;
  display: inline-block;
  position: relative;
}

.main-field {
  height: 100%;
  resize: none;
  position: absolute;
}

.btn-variable {
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

table {
  text-align: center;
}

.btn-edit {
  margin-right: 5px;
}

.btn-delete {
  margin-left: 5px;
}

.inline-input {
  background-color: transparent;
  border: 0;
  padding: 8px;
}

.inline-input:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}